apiVersion: v1
kind: Service
metadata:
  name: {{ include "testchart.fullname" . }}
  metadata:
    annotations:
      argocd.argoproj.io/sync-options: Prune=false
  labels:
    {{- include "testchart.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "testchart.selectorLabels" . | nindent 4 }}
